img {
    width: 200px;
}

body {
    background-color:bisque;
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    padding-bottom: 100px
}

.flavor {
    color:goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: underline;
}

#rocky {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icecream {
    background-color: lightcoral;
    text-align: center;
    width: 300px;
    margin: auto;
}
footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: bisque;
text-align: left;
box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }